

<div class="edit-page">
    <form action="/editPost{{comment.messageId}}" method="post">
    <p>{{comment.message}}</p>
    <input type="text" name="messEdit">
    <button type="submit" class="btn btn-success"> Изменить</button>
    </form>
</div>