
<h2>Авторизация</h2>


<div class="wrapper-auth">
    <form method="post" action="/auth/login" class="login-fetch">
        <input type="email" name="email" placeholder="Введите email" required>
        <input type="password" name="password" placeholder="Введите пароль" required>
        <button type="submit" class="btn btn-primary" >Войти</button>
    </form>
    <p class="text-register">Для регистрации нажмите <a href="/auth/register"> сюда</a></p>
</div>