
<h2>Регистрация</h2>


<div class="wrapper-auth">
    <form method="post" action="/auth/register" class="register-fetch" >
        <input type="email" name="email" placeholder="Введите email" required>
        <input type="text" name="name" placeholder="Введите имя" required>
        <input type="password" name="password" placeholder="Введите пароль" required>
        <button type="submit" class="btn btn-primary" >Создать</button>
    </form>
</div>